- javascript_includes << "/plugin_assets/fluid-infusion/infusion-1.2-src/lib/jquery/ui/js/jquery.ui.accordion.js"
- javascript_includes << 'custom'
- javascript_includes << "catalog/show"

- stylesheet_links << "/assets/viewer-datauri.css"
- stylesheet_links << "/assets/plain-datauri.css"


:plain
  <style type="text/css" media="screen">
    input.editable-edit, input.textile-edit {display:none}
  </style>

.document_viewer#cover_container
  %div.DV-viewer
    %h2.section-title Document Viewer
    %span 
      = link_to 'full screen', url_for("/doc_viewer/#{params[:id]}")
    %div#DV-container
      %div#DV-loadingDocument
        %span Loading
        %noscript
        %div#DV-noJS 
          The Document Viewer requires that you enable Javascript.

  - javascript_includes << '/assets/viewer.js'
  - javascript_includes << "/assets/templates.js"

  :javascript
     DV.load( '/doc_viewer/#{@document_fedora.pid}/json' , { container: '#DV-container' });
  
  %div.accordion-section
    %h2.section-title Description
    = render :partial => 'aims_documents/edit_description'

  %div.accordion-section
    %h2.section-title Download Files
    %div#uploads{'data-pid' => params[:id]}


 
= #DV.load( #{JSON.load(open("http://localhost:8983/fedora/objects/druid:1/datastreams/json/content")).to_json}, { container: '#DV-container' });
  
= #DV.load('http://documents.nytimes.com/goldman-sachs-internal-emails.json', { container: '#DV-container' });
= #  DV.load(#{ @document_fedora.datastreams['json'].content }, { container: '#DV-container' });

- sidebar_items << capture do 
  = render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>document, :facets_display_heading => "This document refers to:"}

= async_load_tag(asset_file_assets_path(params[:id]), 'uploads')
